.login-title {
  text-align: center;
}

.login-form {

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-inner {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 40%;
  top: 200px
}

.popup-inner h2 {
  margin-top: 0;
}

.popup-inner label {
  display: block;
  margin-bottom: 10px;
}

.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.popup-inner button[type="submit"]:hover,
.popup-inner button[type="button"]:hover {
  background-color: #45a049;
}

.popup-inner button[type="submit"] {
  margin-top: 20px;
}

.popup-inner button[type="button"] {
  margin-top: 20px;
  background-color: #f44336;
}

.popup-inner button[type="button"]:hover {
  background-color: #da190b;
}

.popup-inner button[type="submit"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.popup-inner button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.data-table {
  flex: 1 1 100%;
  border-collapse: collapse;
}

.data-table-cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-bar {
  margin-bottom: 20px;
}

.dashboard {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.dashboard h1 {
  text-align: center;
}

.two-columns {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

@media (min-width: 500px) {
  .two-columns {
    flex-direction: row;
  }
}

.slider-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}